.wrapper {
    position: relative;
    padding: 15px;
}

.toggle {
    cursor: pointer;
}

.title {
    display: inline-block;
    margin-right: 10px;
}

img {
    width: 10px;
}

.open {
    transform: rotate(180deg);
}

.items-wrapper {
    position: absolute;
    z-index: 10;
    display: flex;
	flex-direction: column;
    border-radius: 15px;
    height: 100px;
    overflow: auto;
}

.option {
    padding: 0 30px;
    background-color: #000;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: blue;
	line-height: 2;
	transition-duration: 0.1s;
}

.option:first-of-type {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.option:last-of-type {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.option:hover {
    color: #fff;
    background-color: #335;
}

.items-wrapper::-webkit-scrollbar {
    width: 1em;
}
 
.items-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.items-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}