.group {
    background-color: #335;
    width: 280px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 180px 100px;
    border-radius: 15px;
}

input, select {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    outline: none;
}

input {
    padding-left: 10px;
}

select {
    padding: 15px;
}