*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0px;
}

body {
    background-color: #161616;
    color: #ddd;
}

main {
    padding: 0 15px;
}

h1 {
    color: #eef;
    text-align: center;
}